*::before, *::after {
    box-sizing: border-box;
}

::selection {
    color: white;
    background-color: #f6993f;
}

html {
    background: #6574cd;
    border: 0;
    margin: 0;
    font-size: 1rem;
}

body {
    border: 0;
    margin: 0;
    padding: 0;
}

.swiper-container {
    padding-bottom: 4rem;
    padding-top: 4rem;
}

.swiper-button-prev, .swiper-button-next {
    top: 0;
    margin-top: 0;
    padding: 4px;
    transform: scale(1.4);
    transition: transform 0.2s ease-in-out;
}

.swiper-button-prev.swiper-button-disabled, .swiper-button-next.swiper-button-disabled {
    transform: scale(1);
}

.swiper-button-prev {
    left: 0;
}

.swiper-button-next {
    left: 60px;
}

select {
    appearance: none;
    border: none;
    font-size: 1rem;
    width: 100%;
    color: white;
    padding: .75rem 1rem;
    border-radius: .25rem;
    background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100' height='100' fill='white'%3E%3Cpolygon points='0,0 100,0 50,50'/%3E%3C/svg%3E") #7886d7 no-repeat 98% 77%;
    background-size: 25px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, .12), 0 2px 4px 0 rgba(0, 0, 0, .08);
    &:focus {
        outline: 0px;
        box-shadow: 0 0 0 3px rgba(101, 116, 205, .5);
    }
    &:hover {
        cursor: pointer;
    }
}

select::-ms-expand {
    display: none;
}

select option {
    background: #6574cd;
    font-size: 1rem;
}